stages:
  - lint
  - test
  - build
lint:
  stage: lint
  image: golangci/golangci-lint:v1.61-alpine
  script:
    - golangci-lint run
  allow_failure: false
test:
  stage: test
  before_script: apk add --no-cache git make gcc musl-dev
  script:
    - go mod download
    - go test -v -race ./...

  artifacts:
    expire_in: 7 days
