stages:
  - lint
  - test
  - build
lint:
  stage: lint
  image: golangci/golangci-lint:v1.61-alpine
  script:
    - golangci-lint run
  allow_failure: false
test:
  stage: test
  before_script: apk add --no-cache git make gcc musl-dev
  script:
    - go mod download
    - go test -v -race ./...

  artifacts:
    expire_in: 7 days
build:docker:
  image: gcr.io/kaniko-project/executor:v1.23.2-debug
  before_script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  script:
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE:latest --destination $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

